<main class="hero-section">
  <h1 class="hero-title">
    Descubre, comparte y disfruta de la cocina.
  </h1>
  <p class="hero-subtitle">
    Únete a miles de foodies y comparte tus creaciones culinarias.
  </p>

  <div class="hero-actions">
    <a routerLink="/explore" class="primary-btn">Explorar Recetas</a>
    <button (click)="checkAuthAndNavigate()" class="secondary-btn">Crear Receta</button>
  </div>
</main>

<div class="explore-container">
  <h1>Recetas Destacadas</h1>

  <div *ngIf="featuredRecipes.length === 0" class="no-recipes">
    <p>Aún no se han cargado recetas. ¡Sube la primera!</p>
  </div>

  <div class="recipe-list" *ngIf="featuredRecipes.length > 0">
    <div class="recipe-card" *ngFor="let recipe of featuredRecipes; trackBy: trackByRecipeId"> 

      <div class="recipe-image">
        <img *ngIf="recipe.images.length > 0; else noImage" [src]="recipe.images[0]" alt="Foto de {{ recipe.name }}">
        <ng-template #noImage>
          <div class="placeholder-image">
            <span>Sin Imagen</span>
          </div>
        </ng-template>
      </div>

      <div class="recipe-info">
        <h2>{{ recipe.name }}</h2>
        <p class="recipe-description">{{ recipe.descripcion }}</p>

        <div class="author-info">
          <img
            [src]="recipe.user.avatar ?? '/assets/placeholder-avatar.png'"
            [alt]="'Avatar de ' + (recipe.user.username )"
            class="avatar clickable"
            [routerLink]="['/profile', recipe.user.id]"
          />
          <span class="author-name clickable" [routerLink]="['/profile', recipe.user.id]">Creado por {{ recipe.user.username  }}</span>
        </div>

        <div class="recipe-actions">
          <button class="like-button" (click)="toggleLike(recipe)">
            <i class="fa fa-heart"></i> {{ recipe.likes || 0 }}
          </button>
          <button [routerLink]="['/recipe', recipe.id]" class="view-button">Ver Receta</button>
        </div>
      </div>

    </div>
  </div>
  
  <!-- Botón "Ver más" que redirige a /explore -->
  <div *ngIf="featuredRecipes.length > 0" class="see-more-container">
    <button (click)="navigateToExplore()" class="see-more-btn">
      Ver Más Recetas
    </button>
  </div>

</div>