<div class="explore-container">
  <h1>Explora las Recetas</h1>

  <div *ngIf="allRecipes().length === 0 && !searchService.currentQuery()" class="no-recipes">
    <p>Aún no se han cargado recetas. ¡Sube la primera!</p>
  </div>

  <div *ngIf="allRecipes().length === 0 && (searchService.currentQuery() || searchService.currentCategory() !== 'todas')" class="no-results">
    <p>No se encontraron recetas que coincidan con los filtros aplicados</p>
    <button class="clear-search" (click)="clearSearch()">Limpiar filtros</button>
  </div>

  <div *ngIf="allRecipes().length === 0 && searchService.currentQuery() && searchService.suggestions().length === 0" class="no-results">
    <p>La receta "{{ searchService.currentQuery() }}" no ha sido encontrada</p>
    <button class="clear-search" (click)="clearSearch()">Buscar otra receta</button>
  </div>

  <div class="recipe-list" *ngIf="allRecipes().length > 0">
    <div class="recipe-card" *ngFor="let recipe of recipesToShow(); trackBy: trackByRecipeId">
      <div class="recipe-image">
        <img *ngIf="recipe.images.length > 0; else noImage" [src]="recipe.images[0]" alt="Foto de {{ recipe.name }}">
        <ng-template #noImage>
          <div class="placeholder-image">
            <span>Sin Imagen</span>
          </div>
        </ng-template>
      </div>
      <div class="recipe-info">
        <h2>{{ recipe.name }}</h2>
        <p class="recipe-description">{{ recipe.descripcion }}</p>
        
        <div class="author-info">
          <img
            [src]="recipe.user.avatar ?? 'assets/placeholder-avatar.png'"
            [alt]="'Avatar de ' + (recipe.user.username )"
            class="avatar clickable"
            [routerLink]="['/profile', recipe.user.id]"
          />
          <span class="author-name clickable" [routerLink]="['/profile', recipe.user.id]">Creado por {{ recipe.user.username  }}</span>
        </div>
        
        <div class="recipe-actions">
          <button (click)="toggleLike(recipe.id)" class="like-button" [class.liked]="hasLiked(recipe)">
            <i class="fa fa-heart"></i> {{ recipe.likes }}
          </button>
          <button [routerLink]="['/recipe', recipe.id]" class="view-button">Ver Receta</button>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading()" class="loading-spinner">
      <div class="spinner"></div>
      <p>Cargando más recetas...</p>
    </div>

    <div #loadMoreTrigger class="load-more-trigger"></div>

    <div *ngIf="visibleRecipeCount() >= allRecipes().length && allRecipes().length > 0" class="end-message">
      <p>¡Has llegado al final de las recetas! 🎉</p>
    </div>
  </div>
</div>