<header class="main-header">
    <div class="header-content">
        <div routerLink="/home" class="logo">
            CocinaCompartida®
        </div>

        <nav class="main-nav">
            <a routerLink="/explore" class="nav-link">Explorar</a>
            <a href="#" class="nav-link">Categorías</a>
            <a href="#" class="nav-link">Blog</a>
        </nav>

        <div class="auth-section">
            <!-- Mostrar si NO está logueado -->
            <a *ngIf="!authService.isLoged()" routerLink="/login" class="action-btn">
                Iniciar Sesión
            </a>
            
            <!-- Mostrar si ESTÁ logueado -->
            <div *ngIf="authService.isLoged()" class="user-menu">
                <!-- 👇 Usa el método getCurrentUsername() en lugar de la señal -->
                <span routerLink="/profile" class="welcome-text">Hola, {{ authService.getCurrentUser() }}</span>
                <button routerLink="/home "(click)="authService.logout()" class="logout-btn">Cerrar Sesión</button>
            </div>
        </div>
    </div>
</header>